@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center Textos Fondos">

    <h1 class="display-4 ">Bienvenidos al hotel Beach.SA</h1>
    <p>
        Si desea realizar una reserva dirijase a la seccion de <a asp-area="" asp-controller="Reserva" asp-action="Index">
            Reservar
        </a>
    </p>
</div>
