@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="Fondos text-center">
    <h1 class="Titulos">@ViewData["Title"]</h1>

    <p class="Textos">Use this page to detail your site's privacy policy.</p>
</div>
